form{
  margin: 40px;
  padding: 20px;
  text-align: center;
}

button{
  background-color: black;
  color: white;
  padding: 4px 10px;
  border-radius: 10px;
  transition: .4s;
}

button:hover{
  background-color: rgb(34, 33, 33);
  transform: scale(.9);
}